body {
  margin: 0;
  font-family: sans-serif;
}

.App {
  position: relative;
  background-color: #282c34;
  min-height: 100vh;
  overflow: hidden;
}

a {
  color: white;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-top: 24px;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  transition: opacity .15s ease;
}

a:hover {
  opacity: .85;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;

  position: absolute;
  top: 0;
  left: 0;
}

.app-logo-2 {
  left: unset;
  right: 0;
}
.app-logo-3 {
  left: 50%;
  top: 50%;
}
.app-logo-4 {
  top: unset;
  bottom: 0;
}
.app-logo-5 {
  top: unset;
  left: unset;
  right: 0;
  bottom: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 5s linear;
  }

  .app-logo-3 {
    animation: app-logo-3-spin infinite 5s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes app-logo-3-spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
